# MongoDB Connection String
MONGODB_URI=mongodb+srv://yagnarashagan:Yagnarashagan6@rhynox-technologies.d1n5erd.mongodb.net/rhynox?retryWrites=true&w=majority

# Server Configuration
PORT=5000

# Node Environment
NODE_ENV=development

# Cloudinary Configuration (Required for Vercel deployment)
CLOUDINARY_CLOUD_NAME=dlvpoyvf2
CLOUDINARY_API_KEY=145676111353439
CLOUDINARY_API_SECRET=-jNi8z3lKTHkgaxoEeQpHSDz7Oc

# Email Configuration (Required for email verification)
# Use your Gmail address and generate an App Password from Google Account settings
EMAIL_USER=rhynoxtechnologies@gmail.com
EMAIL_APP_PASSWORD=pkkalnsdykjzaqop

